In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/sample_data/weather-missing_data - Sheet1.csv')
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [6]:
df.set_index('day')

KeyError: ignored

In [7]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [8]:
df.fillna(0)

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           0.0        9.0   Sunny
1/5/2017          28.0        0.0    Snow
1/6/2017           0.0        7.0       0
1/7/2017          32.0        0.0    Rain
1/8/2017           0.0        0.0   Sunny
1/9/2017           0.0        0.0       0
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [9]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [11]:
di={'temperature':0,"windspeed":0,'event':"No Event"}
df.fillna(di)

           temperature  windspeed     event
day
1/1/2017          32.0        6.0      Rain
1/4/2017           0.0        9.0     Sunny
1/5/2017          28.0        0.0      Snow
1/6/2017           0.0        7.0  No Event
1/7/2017          32.0        0.0      Rain
1/8/2017           0.0        0.0     Sunny
1/9/2017           0.0        0.0  No Event
1/10/2017         34.0        8.0    Cloudy
1/11/2017         40.0       12.0     Sunny

In [12]:
df.dropna()

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny

In [13]:
df.dropna(how='all')

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/10/2017         34.0        8.0  Cloudy
1/11/2017         40.0       12.0   Sunny